*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/target
project/target

slides/*.key
slides/15

src/lx*x
test/lx*x

# Scala-IDE specific
.scala_dependencies
.worksheet
